
<section id="main-section">

    <aside id="snippet-aside">
        <% @snippets.each do |snippet| %>
            <section id="lists">
                <div id="qa">
                    <p id="question"><%= snippet.question %></p>
                    <p id="answer"><%= snippet.answer %></p>
                </div>
                <div id="edit">
                    <p><%= link_to 'Edit', edit_snippet_path(snippet) %></p>
                    <p><%= link_to 'Delete', snippet, method: :delete, data: { confirm: 'Are you sure?' } %></p>
                </div>
                <br>
            </section>
        <% end %>
    </aside>

    <aside id="menu-aside">
        <div id="new" onclick="window.location = '/snippets/new/'">
            <p>New</p>
        </div>
        <div id="play-link" onclick="window.location = '/pi'">
            <p>Play</p>
        </div>
    </aside>

</section>