<div id="fullscreen-button">
    <p>fullscreen</p>
</div>
<div id="pi-snippets">
    <p id="q"><%= @snippet.question %></p>
    <br>
    <!-- <p id="break">~~~~~~~~~~~~~</p> -->
    <p id="break">˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚˚</p>
    <br>
    <p id="a"><%= @snippet.answer %></p>
</div>
