.login-div {
    position: absolute;
    left: 40%;
    top: 14%;
    font-family: "Skia";
}

.email-field {
    margin-left: 24px;
}

.edit-user-div {
    position: absolute;
    left: 40%;
    top: 9%;
    font-family: "Skia";
}

#new-snip-div {
    position: absolute;
    left: 36%;
    top: 14%;
    font-family: "Skia";
}