#q {
    text-align: center;
    font-size: 40px;
}

#a {
    text-align: center;
    font-size: 40px;
}

#pi-snippets {
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 215px;
    color: powderblue;
}

#break {
    text-align: center;
    font-size: 40px;
}

p {
    font-family: "Skia";
    color: "#0000FF";
}

#fullscreen-button {
    position: fixed;
    right: 22px;
    top: 8px;
    p {
        font-size: 17px;
        color: #337ab7;
    }
    p:hover {
        cursor: pointer;
        color: black;
        text-decoration: underline;
    }
}

body {
    padding-bottom: 20px;
}

.bg-img {
    background-image: url("snippets-background2.png");
    width: 100%;
    background-size:cover;
    height: -webkit-fill-available;
}
