#q {
    text-align: center;
    font-size: 40px;
}

#a {
    text-align: center;
    font-size: 40px;
}

#pi-snippets {
    margin-top: 232px;
}

#break {
    text-align: center;
    font-size: 40px;
}