#q {
    text-align: center;
    font-size: 40px;
}

#a {
    text-align: center;
    font-size: 40px;
}

#pi-snippets {
    margin-top: 154px;
}

#break {
    text-align: center;
    font-size: 40px;
}

p {
    font-family: "Skia";
    color: "#0000FF";
}

#fullscreen-button {
    position: fixed;
    right: 22px;
    top: 8px;
    p {
        font-size: 17px;
        color: #337ab7;
    }
    p:hover {
        cursor: pointer;
        color: black;
        text-decoration: underline;
    }
}