#main-section {
    padding-top: 5px;
}

#qa {
    display: inline-block;
    width: 515px;
    padding-left: 12px;
}

#edit {
    display: inline-block;
    vertical-align: top;
}

#lists {
    border-style: solid;
    display: inline-block;
    margin-bottom: -2px;
    padding: 8px;
}

#snippet-aside {
    width: 585px;
    margin-left: 56px;
    display: inline-block;
}

#menu-aside {
    display: inline-block;
    vertical-align: top;
    margin-left: 36px;
}

#new {
    border-style: solid;
    padding: 20px;
    margin-bottom: 10px;
}

#new:hover {
    cursor: pointer;
}

#play-link {
    border-style: solid;
    padding: 20px;
}

#play-link:hover {
    cursor: pointer;
}

#menu-aside p {
    margin: 0;
}