#qa {
    display: inline-block;
    width: 515px;
    padding-left: 12px;
}

#edit {
    display: inline-block;
    vertical-align: super;
}

section {
    border-style: solid;
    display: inline-block;
    margin-bottom: -3px;
}

aside {
    width: 570px;
}